{{#unless hideNavBar}}
<nav class="navbar navbar-default">
<div class="container-fluid">

  <div class="navbar-header">
    {{#link-to 'index'}}<a class="navbar-brand">WatchList</a>{{/link-to}}
  </div>
  <div class="navbar-header">
    {{#link-to 'saved-list'}}<a class="navbar-text">My List</a>{{/link-to}}
  </div>

  {{#unless hideSearch}}
  <form class="navbar-form navbar-right">
    <div class="form-group">
      {{input type="text" value=keywords class="form-control" placeholder="Search"}}
    </div>
    <button {{action 'searchBestBuy'}} type="submit">Search</button>
  </form>
  {{/unless}}

</div>
</nav>
{{/unless}}
