
<nav class="navbar navbar-default">
<div class="container-fluid">

<div class="navbar-header">
<a class="navbar-brand">WatchList</a>
</div>

<div class="user-options">
  <ul>
    <li>
      Welcome!
    </li>
    <li>
      <a {{action 'invalidateSession'}}>Logout</a>
    </li>
  </ul>
</div>

<form class="navbar-form navbar-right">
<div class="form-group">
 {{input type="text" value=keywords class="form-control" placeholder="Search"}}
</div>
<button {{action 'searchBestBuy'}} type="submit" class="btn btn-default">Search</button>
</form>

</div>
</nav>
