<header>
  <h1>Lemme Know!</h1>
</header>

<main>
  <div class="contianer">
    <div class="col-sm-6">
      {{#each model.products as |product|}}
        <p>{{product.name}}</p>
      {{/each}}
    </div>
  </div>
</main>

<footer>
  <p> &copy; 2016 | Developed by Shop-Watch</p>
</footer>
