{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}
<h1 class="loginTitle">WatchList</h1>
<div class='container container__home'>
  <h5>Proof of concept: </h5>
  <h5>Search, browse, and save items to be watched. Then get a notification when it goes on sale. Currently the app is
    working with <a href="https://bestbuyapis.github.io/bby-query-builder/#/productSearch" target="_blank">Best Buy
      Products API</a>
  </h5>
</div>