{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}
<h1 class="loginTitle">WatchList</h1>
<div class='container'>
  <h5>This app is a work in progress. Once completed, it can save user's time, money, and disappointing trips back to stores by keeping track of favorite items and alerting users as soon as the "watched" item goes on SALE. Furthermore, it will help stores to attract foot traffic and increase revenue.</h5>
</div>
<div id="instructions">
  <h4>To start, use the drop down menu to select a category, enter a keyword, and click Search. The items already on SALE will have the sale price highlighted and a 'Buy Now' button to take you the original product page. Otherwise, you can save items to your WatchList.</h4>
</div>
