{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'
  
  searchBestBuy="searchBestBuy"
}}

<h1 class="loginTitle">WatchList</h1>
<div>
  <div>
    <p><input type="text" id="email" name="email" placeholder="Email"/></p>
    <p><input type="password" id="password" name="password" placeholder="Password"/></p>
    <button disabled id="quickstart-sign-in" name="signin">Sign In</button>
    <button id="quickstart-sign-up" name="signup">Sign Up</button>
  </div>
</div>
