<div class="container">
  <h1>Results:</h1>
  {{#if model.products}}
    {{#each model.products as |product|}}
      <div class="col-sm-6">
        <p>{{product.name}}</p>
        <img class="product-img" src="{{product.thumbnailImage}}">
        
      </div>
    {{/each}}
  {{else}}
    ¯\_(ツ)_/¯
  {{/if}}
</div>
