{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}


<div class="container">
  <h1>My WatchList</h1>
  <div id="testemail">
    <p>This part of the App uses Email.js to send sale alerts to users if an item from their WatchList goes on SALE. The app will pull "On Sale" data from BestBuy API and automatically send an alert email if a matching item is found. Currently, the process is manual and for proof of concept it sends an email to us.</p>
    <button class="btn btn-lg btn-success" {{action 'sendEmail'}}>Send Test Email</button>
  </div>

  {{display-list deleteProduct="deleteProduct"}}

</div>
