{{nav-bar
  content=myContent
  selection=selectedOption
  disabled=shouldDisable
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select a category"
  class='my-ember-select-widget'
  willChangeAction='selectOption'
  didChangeAction='anotherAction'

  searchBestBuy="searchBestBuy"
}}


<div class="container container__watchlist">
  <h1>Your WatchList</h1>
  <div id="testemail">
    <p>Proof of concept: A notification is to be sent when WatchList items go on sale.</p>
    <p>To test it manually, add few items to the WatchList and submit this form. Currently we are using <a
        href="http://www.emailjs.com/">Email.js</a></p>

    <form class="row">
      <div class="col-sm-5">
        <label for="full_name">Your Name</label>
        <input required type="text" id="full_name" class="form-control" name="full_name" placeholder="name" required="required" />
      </div>
      <div class="col-sm-5">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control" name="email" placeholder="email" required="required" />
      </div>
      <div class="col-sm-2">
        <input type="submit" value="Submit" class="btn btn-lg btn-success" {{action 'sendEmail'}} required="required" />
      </div>
    </form>

  </div>

  {{display-list deleteProduct="deleteProduct"}}

</div>